.header-container {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
  justify-content: space-between;
  background-color: rgb(236, 232, 232);

  .title {
    font-size: 30px;
    align-items: center;
    margin-left: 100px;
    font-family: Arial;
    margin-left: 50px;
  }

  .user-picture {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-left: 10px;
  }
  .profile {
    font-size: 20px;
    margin-top: 7px;
  }
  .image-details {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
  }
}
